<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="login" method="POST">
        {%csrf_token%}
        User name :<input type="text" name="username"><br>
        Password  :<input type="password" name="password"><br>
        <input type="submit" >
    </form>
    {%for message in messages%}
    <p>{{message}}</p>
    {%endfor%}
    <a href="/">Home</a>
</body>
</html>